<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/application.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/sticky-footer.css}"/>
    <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.slim.js}"></script>
    <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
    <script>window.jQuery || document.write('<script th:src="@{/webjars/jquery/3.6.0/dist/jquery.slim.js}"><\/script>')</script>
</head>
<body>


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sensors</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{/dashboard}" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/sensors}" class="nav-link">Sensors</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/perform_logout}" class="nav-link"> Logout </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div class="container">
        <div class="row align-items-start">
            <section layout:fragment="page-content" class="text-base text-gray-700 ml-4 mt-4">
            </section>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">2021 &copy; krejnstudio.pl</span>
    </div>
</footer>


</body>
</html>